@import url('https://fonts.googleapis.com/css2?family=Kablammo&display=swap');
@import "tailwindcss";

@theme {
	--color-green-30: #007208;
	--font-logo: "Kablammo", serif;
}

.kablammo-test {
	font-family: "Kablammo", serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-variation-settings:
		"MORF" 0;
}
